@charset "utf-8";

%h-line {
  content: "";
  display: block;
  background-color: $dark-blue;
  width: 20px;
  height: 4px;
  margin: 16px auto;
  vertical-align: middle;

  @include mediaquery('max', $tablet) {
    width: 16px;
    height: 4px;
    margin: 10px auto;
  }
}