@charset "utf-8";

// color
$kye-color: #eb6877;
$font-color: #787878;
$navy: #323e56;
$cream: #fafaf9;

$blue: #0a0d88;
$dark-blue: #19405e;

// font
$garamond: 'EB Garamond',serif;

// breakpoint
$sp: 414px; // iphone6〜
$middle: 600px;
$tablet: 768px; // ipad
$content: 1020px; // site width
$sp-content: 90%; // site sp width

// z-index
$z-map: (
  eyecatch,
  catchcopy,
  header,
  menu,
  menu-icon,
  modal
);
