.certification {
  @include translate(-50%, -50%);
  color: $navy;
  display: none;
  position: fixed;
  z-index: z(modal) + 100; // jsで設定されている100を足す
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;

  @include mediaquery('max', $tablet) {
    width: 90%;
  }

  h1 {
    font-family: "svgfont";
    margin-bottom: 5%;

    &:before {
      content: "\EA01";
      font-size: 10rem;
      color: $navy;

      @include mediaquery('max', $sp) {
        font-size: 7rem;
      }
    }

    span {
      @include hide-text;
      display: inline-block;
    }
  }

  .adults {
    @include font-size-position(1.2, 0);
    display: inline-block;
    border: 4px solid $navy;
    padding: 2px 15px;
    border-radius: 15px;
    font-weight: 900;
    margin-bottom: 5%;
  }

  p {
    line-height: 1.8;
  }

  ul {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 5% auto 0;

    @include mediaquery('max', $tablet) {
      display: block;
      width: 80%;
    }

    li {
      margin: 0 5%;
      min-width: 50%;

      @include mediaquery('max', $tablet) {
        margin: 5% 0;
      }

      a {
        color: #f7f7f7;
        padding: 10px 20px;
        border-radius: 10px;
        display: block;
        line-height: 1.5;

        span {
          @include font-size-position(1.6, 0.4);
          display: block;
          font-family: $garamond;
        }
      }
    }

    & li:first-child a {
      background-color: $navy;
    }

    & li:last-child a {
      background-color: #a9a9a9;
    }
  }
}