.certification {
  @include translate(-50%, -50%);
  color: $navy;
  display: none;
  position: fixed;
  z-index: z(modal) + 100; // jsで設定されている100を足す
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;

  @include mediaquery('max', $tablet) {
    width: 90%;
  }

  h1 {
    font-family: "svgfont";
    margin-bottom: 5%;

    &:before {
      content: "\EA01";
      font-size: 10rem;
      color: $navy;

      @include mediaquery('max', $sp) {
        font-size: 7rem;
      }
    }

    span {
      @include hide-text;
      display: inline-block;
    }
  }

  p {
    line-height: 1.8;
  }

  ul {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 5% auto 0;

    @include mediaquery('max', $tablet) {
      display: block;
      width: 80%;
    }

    li {
      margin: 0 5%;
        @include font-size-position(1.6, 0.4);
        font-family: $garamond;
        color: #f7f7f7;
        padding: 20px 20px;
        border-radius: 10px;
        display: block;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 2rem;
        }

      @include mediaquery('max', $tablet) {
        margin: 5% 0;
      }
    }

    & li:first-child {
      background-color: $navy;

      &:after {
        content: "\f028";
      }
    }

    & li:last-child {
      background-color: #a9a9a9;

      &:after {
        content: "\f026";
      }
    }
  }
}